## Pandas

#### Pandas is a Python library.

#### Pandas is used to analyze data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

### Why Use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

### What Can Pandas Do?
#### Pandas gives you answers about the data. Like:

- Is there a correlation between two or more columns?
- What is average value?
- Max value?
- Min value?

### Where is the Pandas Codebase?
https://github.com/pandas-dev/pandas

In [10]:
pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in d:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [12]:
import pandas

In [14]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

### Pandas as pd

In [1]:
import pandas as pd

In [50]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

### Pandas Version Checking

In [13]:
print(pd.__version__)

2.2.2

### What is a Series?

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [36]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

### Labels


If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [39]:
print(myvar[0])

1

### Create Labels
With the 'index' argument, you can name your own labels.

In [3]:
import pandas as pd
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [7]:
print(myvar["x"])

1

### Key/Value Objects as Series
You can also use a key/value object, like a dictionary, when creating a Series.

In [15]:
calories = {1: 420.2, 2: 380, 3: 390}

myvar = pd.Series(calories)

print(myvar)

1    420.2
2    380.0
3    390.0
dtype: float64

To select only some of the items in the dictionary, use the "index" argument and specify only the items you want to include in the Series.

In [25]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

### DataFrames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [21]:
data = {
  "calories": [420, 380, 390],
  "exercise_time": [50, 40, 45],
    "weight": [52,51,50]
}

myvar = pd.DataFrame(data, index= ["day1","day2","day3"])

print(myvar)

      calories  exercise_time  weight
day1       420             50      52
day2       380             40      51
day3       390             45      50

In [27]:
type(myvar)

pandas.core.series.Series